- if session[:user_id]
  p Du är inloggad
  a href="/logout" Logga ut
- else
  a href="/login" Logga in

h1 Alla köp

form action="/purchase" method="get"
  input type="text" name="q" placeholder="Sök"
  button Sök

h2 Lägg till köp
form action="/purchase" method="post"
  input type="text" name="name" placeholder="Namn"
  input type="number" name="cost" placeholder="Pris"
    p Dela med:
  - @users.each do |user|
    - if user["id"] != session[:user_id] #ser inte de dig själv
      label
        input type="checkbox" name="participants[]" value="#{user["id"]}"
        = user["name"]
  button Lägg till

hr

- @purchase.each do |purchase|
  div
    h3 = purchase["name"]
    p = "Kostnad: #{purchase["cost"]} kr"

    - @participants[purchase["id"]].each do |participant|
      p
        | #{participant["name"]} - #{participant["amount"]} kr - #{participant["status"]}
      - if participant["u_id"] == session[:user_id]
        form action="/purchase/#{purchase["id"]}/pay" method="post"
          button Markera som betald

    a href="/purchase/#{purchase["id"]}/edit" Redigera

    form action="/purchase/#{purchase["id"]}/delete" method="post"
      button Ta bort  

/- @purchase.each do |p|
/  div
/    h3 = p["name"]
/    p = "Kostnad: #{p["cost"]} kr"
/    - @participants[p["id"]].each do |participant|
/      p = "#{participant["name"]} - #{participant["amount"]} kr"

/Behövs inte längre, den andra loopen ersätter den
/- @purchase.each do |p|
/  div
/    h3 = p["name"]
/    p = "Kostnad: #{p["cost"]} kr"
/
/    a href="/purchase/#{p["id"]}/edit" Redigera
/
/    form action="/purchase/#{p["id"]}/delete" method="post"
/      button Ta bort

/- @purchase.each do |p|
/  div
/    h3 = p["name"]
/    p Kostnad: #{p["cost"]} kr
/    a href="/purchase/#{p["id"]}" Visa